<div class="container">
  <h1>TVA Component</h1>
  <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDFTVA()">
  <br/><br/>
  <div class="container-tva" id="containertva" #containertva>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">TVA Details</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ID: {{ tva.id }}</li>
          <li class="list-group-item">Vente: {{ tva.vente }}</li>
          <li class="list-group-item">TVA Brute (20%): {{ tva.tvaBrute20 }}</li>
          <li class="list-group-item">TVA Brute (10%): {{ tva.tvaBrute10 }}</li>
          <li class="list-group-item">TVA Brute (5.5%): {{ tva.tvaBrute55 }}</li>
          <li class="list-group-item">Total TVA Brute Due: {{ tva.totTvaBruteDue }}</li>
          <li class="list-group-item">Total TVA Deductible: {{ tva.totTvaDed }}</li>
          <li class="list-group-item">Total TVA Due: {{ tva.totTvaDue }}</li>
          <li class="list-group-item">TVA Net Due: {{ tva.tvaNetDue }}</li>
          <li class="list-group-item">Tax Assessment: {{ tva.taxAss }}</li>
          <li class="list-group-item">Total to Pay: {{ tva.totPayer }}</li>
          <li class="list-group-item">Creation Date: {{ tva.creationDate }}</li>
          <li class="list-group-item">AOI: {{ tva.aoi }}</li>
          <li class="list-group-item">AB Service: {{ tva.aBService }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
